*{margin: 0;padding: 0;box-sizing: border-box;}
$primary-color: #222;
$secondary-color:#999;
$third-color:#44d62c;
$fif-color:#000;
$six-color:#fff;
$primary-font:RazerF5,helvetica neue,Arial,noto sans,sans-serif;
$secondary-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.content{
    margin-top: 60px;
}


@import './scss/Header.scss';
@import './scss/Silde.scss';
@import './scss/Gallery.scss';
@import './scss/Footer.scss';
@import './scss/Products.scss';
@import './scss/Social.scss';
@import './scss/AllProducts.scss';
@import './scss/FilterAndHeaderProduct.scss';