.filter-detail {
    
    text-transform: uppercase;
    font-size: .7rem;
}
.MuiPaper-root{
    color: $secondary-color!important;
    background: $primary-color!important;
    span{
        color: $six-color!important;
        text-transform: capitalize;
    }
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: $third-color!important;
}
.MuiAccordionDetails-root{
    flex-direction: column;
}
.filter-title{
    color: $secondary-color!important;
    text-transform: uppercase;
    font-size: .7rem;
}
