footer {
    display: flex;
    align-items: center;
    background: $primary-color;
    width: 100%;
    min-height: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .footer-content{
        h3 {
            font-size: .7rem;
            font-weight: 500;
            color: white;
            text-align: left!important;
        }
        .MuiListItem-root{
            padding: 0;
            text-align: left!important;
            line-height: 0px!important;
            color: $secondary-color;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
            &:hover{
                color: green;
            }
        }
        .MuiTypography-body1{
            font-size: 13px!important;
        }
        
    }
}
 